body {
  background-color: #000;
}

.glitch {
  position: relative;
  display: block;
  cursor: pointer;
  margin: auto;
  color: #fff;
#  font-family: Chiller;
#  font-size: 6em;
#  font-weight: bold;
}
.glitch::before, .glitch::after {
  position: absolute;
  display: block;
  content: attr(data-text);
  #    text-transform: uppercase;
  top: 0%;
  left: 32.35%;
  opacity: 0.7;
  z-index: -1;
}
.glitch:hover {
  animation: shift 2s ease infinite;
}
.glitch:hover::before {
  color: #ff00ff;
  animation: glitch 0.2s ease infinite;
}
.glitch:hover::after {
  color: #00ffff;
  animation: glitch 0.3s ease reverse infinite;
}

@keyframes glitch {
  10% {
    transform: translate(5px, -5px);
  }
  20% {
    transform: translate(-5px, -5px);
  }
  50% {
    transform: translate(5px, 5px);
  }
  74% {
    transform: translate(-5px, 5px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes shift {
  from, 57%, 63%, 67%, 83%, to {
    transform: translate(0, 0) skew(0deg);
  }
  60% {
    transform: translate(-8px, -3px);
  }
  62% {
    transform: skew(-40deg);
  }
  66% {
    transform: skew(20deg);
  }
  82% {
    transform: translate(2px, -2px);
  }
}
