:root {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #000;
  color: #fff;
}

body {
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
/*   outline: 1px solid lime; */
}

#quote-box {
  position: absolute;
  left: 50%;
  top: 150%;
  translate: -50% -50%;
  background-color: #000;
  border-radius: 1em;
  pointer-events: none;
  user-select: none;
  min-width:700px;

}

#text {
  position: relative;
  color: #fff;

}

#text::before {
  content: "“";
  position: absolute;
  top: 0;
  left: -1em;
}

#text::after {
  content: "”";
  position: absolute;
  right: -1em;
  bottom: 0;
}

#tweet-quote, #new-quote {
  pointer-events: auto;
}

#new-quote {

}
